html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 1024px;
    margin: 0 auto;
}

body header {
    position: fixed;
    width: inherit;
    z-index: 100;
}


/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: white;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

nav a {
    margin-left: 1rem;
    color: #4a4a4a;
    text-decoration: none;
    padding-right: 1.5rem;
}

.logo p {
    text-transform: uppercase;
    color: #868686;
}

.logo p span {
    color: black;
}


/*Main*/

.main {
    padding-top: 4rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d8d8d8;
}

.main img {
    width: 60%;
    padding: 2rem 1.5rem;
}

.main-str {
    padding-left: 1rem;
    padding-right: 2.5rem;
    color: #4a4a4a;
    margin: auto;
}

.main-str h1 {
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1rem 0;
}

.main-str p {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.main-btn {
    background-color: #4a4a4a;
    padding: 8px;
    text-align: center;
}

.main-btn a {
    color: white;
    text-decoration: none;
}


/*Content*/

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cnt {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
    border-right: 1px solid #d8d8d8;
}

.main-cnt img {
    width: 100%;
}

.main-cnt-about h2{
    font-weight: bold;
    font-size: 2rem;
    padding: 1.5rem 0;
}

.main-cnt-about .autor {
    padding-top: 2rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.add-cnt {
    width: 423px;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.add-str {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}

.add-str img {
   width: 35%;
    padding: 1rem;
}

.add-str-about {
    padding-right: 1rem;
}

.add-str-about h3 {
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.add-str-about p {
    font-size: 1rem;
    padding-bottom: 2rem;
}

#gray {
    background-color: #d8d8d8;
}
.add-str-about a {
    color: #4a90e2;
    text-decoration: none;
}
