html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 1024px;
    margin: 0 auto;
}

body header {
    position: fixed;
    width: inherit;
    z-index: 100;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: white;
}


header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

nav a {
    margin-left: 1rem;
    color: #4a4a4a;
    text-decoration: none;
    padding-right: 1.5rem;
}

.logo p {
    text-transform: uppercase;
    color: #868686;
}

.logo p span {
    color: black;
}

/*Main*/

.main {
    padding-top: 4rem; 
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d8d8d8;
}

.main img {
    width: 60%;
    padding: 2rem 1.5rem;
}

.main-str {
    padding-left: 1rem;
    padding-right: 2.5rem;
    color: #4a4a4a;
    margin: auto;
}

.main-str h1 {
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1rem 0;
}

.main-str p {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.main-btn {
    background-color: #4a4a4a;
    padding: 8px;
    text-align: center;
}

.main-btn a {
    color: white;
    text-decoration: none;
}





